<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autostart</key>
	<false/>
	<key>mirror_enabled</key>
	<true/>
	<key>packages</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>Mail</string>
				<key>info2</key>
				<string>/Applications/Mail.app</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>application_name</key>
			<string>GMail</string>
			<key>package_name</key>
			<string>com.google.android.gm</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>Mail</string>
				<key>info2</key>
				<string>/Applications/Mail.app</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>application_name</key>
			<string>Inbox</string>
			<key>package_name</key>
			<string>com.google.android.apps.inbox</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>Mail</string>
				<key>info2</key>
				<string>/Applications/Mail.app</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>application_name</key>
			<string>CloudMagic</string>
			<key>package_name</key>
			<string>com.cloudmagic.mail</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>Calendar</string>
				<key>info2</key>
				<string>/Applications/Calendar.app</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>application_name</key>
			<string>Agenda</string>
			<key>package_name</key>
			<string>com.google.android.calendar</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>Calendar</string>
				<key>info2</key>
				<string>/Applications/Calendar.app</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>application_name</key>
			<string>Sunrise</string>
			<key>package_name</key>
			<string>am.sunrise.android.calendar</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://www.twitter.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>Twitter</string>
			<key>package_name</key>
			<string>com.twitter.android</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://www.facebook.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>Facebook</string>
			<key>package_name</key>
			<string>com.facebook.katana</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://www.facebook.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>Facebook Messenger</string>
			<key>package_name</key>
			<string>com.facebook.orca</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://plus.google.com/u/0/notifications/all</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>Google+</string>
			<key>package_name</key>
			<string>com.google.android.apps.plus</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://app.groupme.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>GroupMe</string>
			<key>package_name</key>
			<string>com.groupme.android</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>http://instagram.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>Instagram</string>
			<key>package_name</key>
			<string>com.instagram.android</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://www.tumblr.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>Tumblr</string>
			<key>package_name</key>
			<string>com.tumblr</string>
		</dict>
		<dict>
			<key>action</key>
			<dict>
				<key>info</key>
				<string>https://www.youtube.com</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>application_name</key>
			<string>YouTube</string>
			<key>package_name</key>
			<string>com.google.android.youtube</string>
		</dict>
	</array>
	<key>showdock</key>
	<false/>
	<key>showmenu</key>
	<true/>
</dict>
</plist>
